* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "IBM Plex Sans Arabic", sans-serif;
  text-decoration: none;
  list-style: none;
}
html {
  direction: rtl;
}
@media (min-width: 600px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

/* start dashboard */

.dashboard {
  display: flex;
  flex-flow: row nowrap;
  position: relative;
}

/* start sidebar */

.sidebar {
  display: flex;
  flex-flow: column nowrap;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  width: fit-content;
  position: fixed;
  right: 0;
  top: 0;
  background-color: #fff;
}
.sidebar .container {
  padding: 24px;
  display: flex;
  flex-flow: column nowrap;
  border-left: 1px solid #e5e7eb;
  height: 100vh;
  width: 250px;
  overflow-y: auto;
}
.sidebar .container::-webkit-scrollbar {
  width: 6px;
}
.sidebar .container::-webkit-scrollbar-thumb {
  background: #d1d5db;
  border-radius: 3px;
}
.sidebar .container .logo {
  display: flex;
  margin-bottom: 32px;
  gap: 16px;
  justify-content: flex-start;
  align-items: center;
}
.sidebar .container .logo .project-logo {
  display: flex;
  background: linear-gradient(to bottom right, #2563eb, #4338ca);
  padding: 16px;
  border-radius: 16px;
  align-items: center;
}
.sidebar .container .logo .project-logo img {
  width: 25px;
}

.sidebar .container .logo .project-name h1 {
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
}
.sidebar .container .logo .project-name p {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: rgb(74, 85, 101);
  margin-top: 4px;
}

.sidebar .container .nav {
  display: flex;
}
.sidebar .container .nav li {
  margin-bottom: 8px;
}
.sidebar .container .nav li .span {
  padding: 12px 16px;
  display: flex;
  gap: 12px;
  align-items: center;
}
.sidebar .container .nav li .selected {
  border: 1px solid #eff6ff;
  background-color: #eff6ff;
  border-radius: 12px;
}
.sidebar .container .nav li span img {
  width: 20px;
  height: 20px;
}

.sidebar .container .nav li .span-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #4a5565;
}
.sidebar .container .nav li .colored {
  color: rgb(20, 71, 230);
}
.sidebar .container .sidebar-quick-actions {
  margin-top: 32px;
}

.sidebar .container .sidebar-quick-actions h3 {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding-inline: 8px;
  margin-bottom: 16px;
}
.sidebar .container .sidebar-quick-actions button {
  padding: 12px;
  margin-bottom: 12px;
  display: flex;
  align-items: center;
  gap: 12px;
  width: 100%;
  background: none;
  border: none;
}
.sidebar .container .sidebar-quick-actions button .action-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  width: 40px;
  height: 40px;
}
.sidebar .container .sidebar-quick-actions button .send-money {
  background-color: #dbe9fc;
}
.sidebar .container .sidebar-quick-actions button .plus {
  background-color: #d4f3e0;
}
.sidebar .container .sidebar-quick-actions button .receipt {
  background-color: #f7ecfe;
}
.sidebar .container .sidebar-quick-actions button .chart-line {
  background-color: #fff1e7;
}

.sidebar .container .sidebar-quick-actions button .action-icon img {
  width: 20px;
  height: 20px;
}
.sidebar .container .sidebar-quick-actions button span {
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  color: #374151;
}

/* end sidebar */

/* start dashboard main */

.dashboard .main {
  margin-right: 250px;
  padding: 32px;
  width: 100%;
}

/* start header dashboard */

.dashboard .main .header {
  margin-bottom: 40px;
  box-shadow: 0px 2px 10px #e8eaea;
  border-radius: 20px;
  display: flex;
  flex-flow: row nowrap;
  padding: 24px;
  border: 1px solid #e8eaea;
  border-top: 0.5px;
  justify-content: space-between;
}
.dashboard .main .header .right-content {
  display: flex;
  flex-flow: row nowrap;
  gap: 20px;
  align-items: center;
}
.dashboard .main .header .right-content .logo {
  display: flex;
  background: linear-gradient(to bottom right, #2563eb, #4338ca);
  padding: 16px;
  border-radius: 16px;
  align-items: center;
}
.dashboard .main .header .right-content .logo img {
  width: 30px;
}
.dashboard .main .header .right-content .title h1 {
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
}
.dashboard .main .header .right-content .title p {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: rgb(74, 85, 101);
  margin-top: 4px;
}

.dashboard .main .header .right-content .active {
  display: flex;
  flex-flow: row nowrap;
  background-color: #f1fcf5;
  border: 1px solid #b4f7cb;
  border-radius: 10px;
  padding: 6px 12px;
  height: fit-content;
  gap: 8px;
  align-items: center;
}
.dashboard .main .header .right-content .active .dot {
  background-color: #27d16b;
  width: 8px;
  height: 8px;
  border: 2px solid #27d16b;
  border-radius: 20px;
}
.dashboard .main .header .right-content .active span {
  color: #008235;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

.dashboard .main .header .left-content {
  display: flex;
  flex-flow: row nowrap;
  gap: 10px;
  align-items: center;
}
.dashboard .main .header .left-content .icons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.dashboard .main .header .left-content .icons .imgbg {
  align-items: center;
  display: flex;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  position: relative;
}
.dashboard .main .header .left-content .icons .imgbg img {
  width: 20px;
}
.dashboard .main .header .left-content .icons .imgbg span {
  position: absolute;
  color: #fff;
  background-color: #fb2d37;
  border-radius: 20px;
  top: -5px;
  right: -5px;
  width: 16px;
  height: 16px;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  text-align: center;
}
.dashboard .main .header .left-content .prof-info {
  display: flex;
  flex-flow: row nowrap;
  gap: 10px;
  align-items: center;
  padding: 8px 16px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}
.dashboard .main .header .left-content .prof-info img {
  width: 40px;
  border-radius: 12px;
}
.dashboard .main .header .left-content .prof-info .info .name {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
}
.dashboard .main .header .left-content .prof-info .info .status {
  font-size: 12px;
  font-weight: 600;
  color: grey;
}

/* end dashboard header  */

/* start dashboard summary cards */

.dashboard .main .summary-cards {
  gap: 20px;
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  margin-bottom: 24px;
}
.dashboard .main .summary-cards .card {
  padding: 32px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
.dashboard .main .summary-cards .card .title {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  color: grey;
  margin-bottom: 8px;
}
.dashboard .main .summary-cards .card .price {
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
}
.dashboard .main .summary-cards .card .graph {
  margin-top: 8px;
  display: flex;
  flex-flow: row nowrap;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  align-items: center;
}
.dashboard .main .summary-cards .card .graph img {
  width: 15px;
  height: 15px;
  color: #01a73e;
}
.dashboard .main .summary-cards .card .graph .percentage {
  color: #01a73e;
}
.dashboard .main .summary-cards .card .graph .red {
  color: #e6000b;
}

/* end dashboard summary cards */

/* start dashboard widgets */

.dashboard .main .dashboard-widgets {
  display: grid;
  grid-template-areas:
    "item1 item2 item2"
    "item3 item2 item2"
    "item4 item5 item6"
    "item4 item7 item6";
  gap: 16px;
}

/* start notifications card */
.dashboard .main .dashboard-widgets .notifications-card {
  padding: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  grid-area: item1;
}
.dashboard .main .dashboard-widgets .notifications-card .title {
  margin-bottom: 24px;
}
.dashboard .main .dashboard-widgets .notifications-card .title h3 {
  font-size: 16px;
  font-weight: 600;
  line-height: 28px;
  width: fit-content;
}

.dashboard .main .dashboard-widgets .notifications-card .btn {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  display: flex;
  justify-content: center;
  color: #155dfc;
  cursor: pointer;
  transition: all 0.2s;
  margin-top: 16px;
  padding-top: 16px;
  border-top: 1px solid #f3f4f6;
}
.dashboard .main .dashboard-widgets .notifications-card .btn:hover {
  color: #1447e6;
}
.dashboard .main .dashboard-widgets .notifications-card .notifications .create-account,
.dashboard .main .dashboard-widgets .notifications-card .notifications .add-card {
  display: flex;
  flex-flow: row nowrap;
  gap: 12px;
  background-color: #eff6ff;
  padding: 12px;
  margin-bottom: 12px;
  border-radius: 12px;
  border-left: 4px solid #2b7fff;
}
.dashboard .main .dashboard-widgets .notifications-card .notifications .add-card {
  background-color: #f1fcf5;
  border-left: 4px solid #00c950;
}
.dashboard .main .dashboard-widgets .notifications-card .notifications .create-account .notif-icon,
.dashboard .main .dashboard-widgets .notifications-card .notifications .add-card .notif-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #dbeafe;
  border-radius: 30px;
  width: 30px;
  height: 30px;
}
.dashboard .main .dashboard-widgets .notifications-card .notifications .add-card .notif-icon {
  background-color: #dafde6;
}
.dashboard .main .dashboard-widgets .notifications-card .notifications .create-account .notif-icon img,
.dashboard .main .dashboard-widgets .notifications-card .notifications .add-card .notif-icon img {
  width: 20px;
}

.dashboard .main .dashboard-widgets .notifications-card .notifications .create-account .notif-content,
.dashboard .main .dashboard-widgets .notifications-card .notifications .add-card .notif-content {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  width: 100%;
}
.dashboard .main .dashboard-widgets .notifications-card .notifications .create-account .notif-content .cont-name,
.dashboard .main .dashboard-widgets .notifications-card .notifications .add-card .notif-content .cont-name {
  display: flex;
  flex-flow: row nowrap;
  gap: 40px;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 4px;
}
.dashboard .main .dashboard-widgets .notifications-card .notifications .create-account .notif-content .cont-name h4,
.dashboard .main .dashboard-widgets .notifications-card .notifications .add-card .notif-content .cont-name h4 {
  color: #101828;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
}
.dashboard .main .dashboard-widgets .notifications-card .notifications .create-account .notif-content .cont-name span,
.dashboard .main .dashboard-widgets .notifications-card .notifications .add-card .notif-content .cont-name span {
  color: #155dfb;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
}
.dashboard .main .dashboard-widgets .notifications-card .notifications .add-card .notif-content .cont-name span {
  color: #00a63e;
}
.dashboard .main .dashboard-widgets .notifications-card .notifications .create-account .notif-content p,
.dashboard .main .dashboard-widgets .notifications-card .notifications .add-card .notif-content p {
  color: #4a5565;
  margin-bottom: 8px;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
}
.dashboard .main .dashboard-widgets .notifications-card .notifications .create-account .notif-content span,
.dashboard .main .dashboard-widgets .notifications-card .notifications .add-card .notif-content span {
  color: #6a7282;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
}
/* end notifications card  */

/* start transactions-card */
.dashboard .main .dashboard-widgets .transactions-card {
  padding: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  grid-area: item2;
}
/* end transactions-card */

/* start bills card */
.dashboard .main .dashboard-widgets .bills-card {
  padding: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  grid-area: item3;
}
.dashboard .main .dashboard-widgets .bills-card .title {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin-bottom: 16px;
}
.dashboard .main .dashboard-widgets .bills-card .title h3 {
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
}
.dashboard .main .dashboard-widgets .bills-card .title span {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: #4a5565;
  transition: all 0.2;
}
.dashboard .main .dashboard-widgets .bills-card .title span:hover {
  cursor: pointer;
  color: #101828;
}
.dashboard .main .dashboard-widgets .bills-card .total {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin-bottom: 16px;
}
.dashboard .main .dashboard-widgets .bills-card .total .top {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
}
.dashboard .main .dashboard-widgets .bills-card .total .down {
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  color: #6a7282;
}

.dashboard .main .dashboard-widgets .bills-card .details {
  display: grid;
  grid-template-areas:
    "card1 card2"
    "card3 card4";
  gap: 10px;
}

.dashboard .main .dashboard-widgets .bills-card .details .card {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  background-color: #f8fafb;
  padding: 12px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.dashboard .main .dashboard-widgets .bills-card .details .card1 {
  grid-area: card1;
}
.dashboard .main .dashboard-widgets .bills-card .details .card2 {
  grid-area: card2;
}
.dashboard .main .dashboard-widgets .bills-card .details .card3 {
  grid-area: card3;
}
.dashboard .main .dashboard-widgets .bills-card .details .card4 {
  grid-area: card4;
}

.dashboard .main .dashboard-widgets .bills-card .details .card .img {
  margin: 0px auto 8px auto;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}
.dashboard .main .dashboard-widgets .bills-card .details .card .img1 {
  background-color: #daebff;
}
.dashboard .main .dashboard-widgets .bills-card .details .card .img2 {
  background-color: #fff9c3;
}
.dashboard .main .dashboard-widgets .bills-card .details .card .img3 {
  background-color: #dafde6;
}
.dashboard .main .dashboard-widgets .bills-card .details .card .img4 {
  background-color: #ffe3e3;
}
.dashboard .main .dashboard-widgets .bills-card .details .card .img img {
  width: 15px;
}
.dashboard .main .dashboard-widgets .bills-card .details .card .name {
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  color: #6a7282;
}
.dashboard .main .dashboard-widgets .bills-card .details .card .price {
  font-weight: 600;
}
.dashboard .main .dashboard-widgets .bills-card .details .card .due {
  color: #fb2c36;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
}
.dashboard .main .dashboard-widgets .bills-card .details .card .due1 {
  color: #fb2c36;
}
.dashboard .main .dashboard-widgets .bills-card .details .card .due2 {
  color: #ff6900;
}
.dashboard .main .dashboard-widgets .bills-card .details .card .due3 {
  color: #00c950;
}
.dashboard .main .dashboard-widgets .bills-card .details .card .due4 {
  color: #6a7282;
}

/* end bills card */

/* start budget-overview-card */
.dashboard .main .dashboard-widgets .budget-overview-card {
  padding: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  grid-area: item4;
}

.dashboard .main .dashboard-widgets .budget-overview-card .title {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin-bottom: 24px;
}
.dashboard .main .dashboard-widgets .budget-overview-card .title h3 {
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
}
.dashboard .main .dashboard-widgets .budget-overview-card .title span {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: #4a5565;
}
.dashboard .main .dashboard-widgets .budget-overview-card .title span:hover {
  cursor: pointer;
  color: #101828;
}

.dashboard .main .dashboard-widgets .budget-overview-card .total-budget {
  padding: 16px;
  margin-bottom: 24px;
  border: 1px solid #dbeafe;
  border-radius: 12px;
  background-color: #eef5ff;
}
.dark-blue {
  color: #b8193c;
}
.dashboard .main .dashboard-widgets .budget-overview-card .total-budget .budget-info {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
.dashboard .main .dashboard-widgets .budget-overview-card .total-budget .budget-info .right .up {
  font-size: 14px;
  font-weight: 600;
  line-height: 28px;
  color: #155dfc;
}
.dashboard .main .dashboard-widgets .budget-overview-card .total-budget .budget-info .right .down {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  color: #1c398e;
}
.dashboard .main .dashboard-widgets .budget-overview-card .total-budget .budget-info .left .up {
  font-size: 14px;
  font-weight: 600;
  line-height: 28px;
  color: #6a7282;
}
.dashboard .main .dashboard-widgets .budget-overview-card .total-budget .budget-info .left .down {
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  color: #00a63e;
}

.dashboard .main .dashboard-widgets .budget-overview-card .total-budget .budget-bar {
  margin-top: 12px;
}

.dashboard .main .dashboard-widgets .budget-overview-card .total-budget .budget-bar .summary {
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  color: #4a5565;
  display: flex;
  justify-content: space-between;
  margin-bottom: 4px;
}

.dashboard .main .dashboard-widgets .budget-overview-card .total-budget .budget-bar .bar {
  background-color: #e5e7eb;
  border-radius: 4px;
  width: 100%;
  height: 7px;
}
.dashboard .main .dashboard-widgets .budget-overview-card .total-budget .budget-bar .bar .fill {
  background-color: #5a65fe;
  border-radius: 4px;
  width: 100%;
  height: 7px;
}

.dashboard .main .dashboard-widgets .budget-overview-card .cards .card {
  padding: 16px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 16px;
  border-radius: 16px;
  transition: all 0.3s;
}
.dashboard .main .dashboard-widgets .budget-overview-card .cards .card:hover {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
  transform: translateY(-1px);
  background-color: #f5f7f9;
}
.dashboard .main .dashboard-widgets .budget-overview-card .cards .card .budget-info {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin-bottom: 8px;
}
.dashboard .main .dashboard-widgets .budget-overview-card .cards .card .budget-info .right {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}
.dashboard .main .dashboard-widgets .budget-overview-card .cards .card .budget-info .right .img-right {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dashboard .main .dashboard-widgets .budget-overview-card .cards .card1 .budget-info .right .img-right {
  background-color: #ffecd5;
  overflow: hidden;
}
.dashboard .main .dashboard-widgets .budget-overview-card .cards .card2 .budget-info .right .img-right {
  background-color: #ffe3e3;
  overflow: hidden;
}
.dashboard .main .dashboard-widgets .budget-overview-card .cards .card3 .budget-info .right .img-right {
  background-color: #fde7f3;
  overflow: hidden;
}
.dashboard .main .dashboard-widgets .budget-overview-card .cards .card4 .budget-info .right .img-right {
  background-color: #dcfde7;
  overflow: hidden;
}
.dashboard .main .dashboard-widgets .budget-overview-card .cards .card .budget-info .right .img-right img {
  width: 20px;
  height: 20px;
}
.dashboard .main .dashboard-widgets .budget-overview-card .cards .card1 .budget-info .right .img-right img {
  transform: translateX(-100px);
  filter: drop-shadow(100px 0 0 #f54901);
}
.dashboard .main .dashboard-widgets .budget-overview-card .cards .card2 .budget-info .right .img-right img {
  transform: translateX(-100px);
  filter: drop-shadow(100px 0 0 #e6000b);
}
.dashboard .main .dashboard-widgets .budget-overview-card .cards .card3 .budget-info .right .img-right img {
  transform: translateX(-100px);
  filter: drop-shadow(100px 0 0 #e70077);
}
.dashboard .main .dashboard-widgets .budget-overview-card .cards .card4 .budget-info .right .img-right img {
  transform: translateX(-100px);
  filter: drop-shadow(100px 0 0 #01a73e);
}
.dashboard .main .dashboard-widgets .budget-overview-card .cards .card .budget-info .right .left-right .up {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}
.dashboard .main .dashboard-widgets .budget-overview-card .cards .card .budget-info .right .left-right .down {
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  color: #6a7282;
}
.dashboard .main .dashboard-widgets .budget-overview-card .cards .card .budget-info .left .up {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}
.dashboard .main .dashboard-widgets .budget-overview-card .cards .card .budget-info .left .down {
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  border-radius: 12px;
  padding: 4px 8px;
}
.dashboard .main .dashboard-widgets .budget-overview-card .cards .card1 .budget-info .left .down {
  color: #166534;
  background-color: #dcfde7;
}
.dashboard .main .dashboard-widgets .budget-overview-card .cards .card2 .budget-info .left .down {
  color: #991b1b;
  background-color: #ffe3e3;
}
.dashboard .main .dashboard-widgets .budget-overview-card .cards .card3 .budget-info .left .down {
  color: #92400e;
  background-color: #fff3c7;
}
.dashboard .main .dashboard-widgets .budget-overview-card .cards .card4 .budget-info .left .down {
  color: #166534;
  background-color: #dcfde7;
}

.dashboard .main .dashboard-widgets .budget-overview-card .cards .card .budget-bar .bar {
  background-color: #e5e7eb;
  border-radius: 4px;
  width: 100%;
  height: 7px;
}
.dashboard .main .dashboard-widgets .budget-overview-card .cards .card .budget-bar .bar .fill {
  border-radius: 4px;
  width: 100%;
  height: 7px;
}
.dashboard .main .dashboard-widgets .budget-overview-card .cards .card1 .budget-bar .bar .fill {
  background-color: #ff6900;
}
.dashboard .main .dashboard-widgets .budget-overview-card .cards .card2 .budget-bar .bar .fill {
  background-color: #e6000b;
}
.dashboard .main .dashboard-widgets .budget-overview-card .cards .card3 .budget-bar .bar .fill {
  background-color: #e70077;
}
.dashboard .main .dashboard-widgets .budget-overview-card .cards .card4 .budget-bar .bar .fill {
  background-color: #01a73e;
}
/* end budget-overview-card */

/* end dashboard widgets */

/* end dashboard */
